<h1 class="title">Clusters</h1>
<h2 class="subtitle">Manage multiple clusters</h2>
<hr class="hr">

<%= render 'shared/alert' %>

<% @clusters.each do |cluster| %>
  <div class="card cluster-card animated fadeIn">
    <div class="card-header has-background-grey-lighter">
      <p class="card-header-title">
        <%= cluster.name.capitalize %>
     </p>
     <p class="card-header-icon">
       <%= cluster.version %>
     </p>
    </div>
    <div class="card-content">
      <table class="table is-striped is-fullwidth">
        <thead>
          <th>Host</th>
          <th>Broker ID</th>
          <th>Status</th>
        </head>
        <tbody>
          <% cluster.brokers.each do |b| %>
            <tr>
              <td><%= b.host %></td>
              <td><%= b.kafka_broker_id %></td>
              <% if b.connected? %>
                <td>
                  <span class="icon has-text-success">
                    <i class="fas fa-check-circle"></i>
                  </span>
                </td>
              <% else %>
                <td>
                  <span class="icon has-text-danger">
                    <i class="fas fa-times-circle"></i>
                  </span>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <footer class="card-footer">
      <%= link_to 'View', cluster_path(cluster), class: 'card-footer-item' %>
      <%= link_to cluster_path(cluster), method: :delete, class: 'card-footer-item', data: { confirm: 'Are you sure?' } do %>
        <span class="icon has-text-danger"><i class="fas fa-trash-alt"></i></span>
      <% end %>
    </footer>
  </div>
<% end %>

<%= link_to 'Add Cluster', new_cluster_path, class: 'button is-primary' %>
