<%= render partial: 'shared/title', locals: { title: 'Clusters', subtitle: 'Manage multiple clusters' } %>

<div class="level"a>
  <%=
    render(
      partial: 'shared/search_bar',
      locals: {
        resources: @clusters,
        resource_name: 'cluster',
        resource_path: clusters_path,
        filter_property: :name
      }
    )
  %>
  <div class="level-right">
    <%= link_to 'Add Cluster', new_cluster_path, class: 'button is-primary is-small' %>
  </div>
</div>

<table class="table is-striped is-fullwidth is-bordered">
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Brokers</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    <% @clusters.each do |cluster| %>
      <tr>
        <td><%= link_to cluster.name, cluster_topics_path(cluster) %></td>
        <td><%= cluster.description %></td>
        <td><%= cluster.brokers.count %></td>
        <td>
          <% if cluster.connected? %>
            <span class="icon has-text-success">
              <i class="fas fa-check-circle"></i>
            </span>
          <% else %>
            <span class="icon has-text-danger">
              <i class="fas fa-times-circle"></i>
            </span>
          <% end %>
        </td>
        <td>
          <%= link_to cluster_path(cluster), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="icon has-text-danger"><i class="fas fa-trash-alt"></i></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
