<%= render partial: 'clusters/tabs' %>

<div class="level"a>
  <div class="level-left">
    <div class="level-item">
      <p class="subtitle is-5">
        <strong><%= @topics.count %></strong> topics
      </p>
    </div>
    <div class="level-item">
      <%= form_tag cluster_topics_path, method: :get do %>
        <div class="field has-addons">
          <p class="control has-icons-left">
            <%= text_field_tag(:name, flash[:search], class: 'input is-small', id: 'search-input', placeholder: 'Find a topic') %>
            <span class="icon is-small is-left"><i class="fas fa-search"></i>
          </p>
          <p class="control">
            <%= submit_tag('Search', class: 'button is-small') %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="level-right">
    <%= link_to 'Add Topic', new_cluster_topic_path, class: 'button is-primary is-small' %>
  </div>
</div>

<table class="table is-striped is-fullwidth">
  <thead>
    <th>Name</th>
    <th>Partitions</th>
    <th>Replication Factor</th>
    <th>Broker Spread</th>
    <th>Latest Offset</th>
    <th></th>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.name, topic_path(topic) %></td>
        <td><%= topic.partitions.count %></td>
        <td><%= topic.replication_factor %></td>
        <td><%= "#{topic.brokers_spread} %" %></td>
        <td><%= topic.offsets.values.reduce(:+) %></td>
        <td>
          <%= link_to topic_path(topic), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="icon has-text-danger"><i class="fas fa-trash-alt"></i></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  <% if flash[:search] %>
    var searchInput = document.getElementById("search-input");
    var searchInputvalue = searchInput.value;

    searchInput.focus();
    searchInput.value = '';
    searchInput.value = searchInputvalue;
  <% end %>
</script>
