<%= render partial: 'clusters/tabs' %>

<div class="level"a>
  <%=
    render(
      partial: 'shared/search_bar',
      locals: {
        resources: @topics,
        resource_name: 'topic',
        resource_path: cluster_topics_path,
        filter_property: :name
      }
    )
  %>
  <div class="level-right">
    <%= link_to 'Add Topic', new_cluster_topic_path, class: 'button is-primary is-small' %>
  </div>
</div>

<table class="table is-striped is-fullwidth">
  <thead>
    <th>Name</th>
    <th>Partitions</th>
    <th>Replication Factor</th>
    <th>Broker Spread</th>
    <th>Offset Sum</th>
    <th></th>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.name, topic_path(topic) %></td>
        <td><%= topic.partitions.count %></td>
        <td><%= topic.replication_factor %></td>
        <td><%= "#{topic.brokers_spread} %" %></td>
        <td><%= topic.offsets.values.reduce(:+) %></td>
        <td>
          <%= link_to topic_path(topic), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="icon has-text-danger"><i class="fas fa-trash-alt"></i></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
