<%= render partial: 'shared/title', locals: { title: @topic.name, subtitle: @cluster.name } %>

<div class="columns">
  <div class="column is-four-fifths">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Replication Factor</p>
          <p class="title"><%= @topic.replication_factor %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Partitions</p>
          <p class="title"><%= @topic.partitions.count %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Consumer Groups</p>
          <p class="title"><%= @topic.groups.count %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Brokers Spread</p>
          <p class="title"><%= "#{@topic.brokers_spread}%" %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Offset Sum</p>
          <p class="title"><%= @topic.offset_sum %></p>
        </div>
      </div>
    </nav>
  </div>

  <div class="column is-2 has-text-centered">
    <div class="box is-shadowless">
      <div>
        <%= link_to "#{topic_path(@topic)}/edit?redirect_path=#{URI.encode(topic_path(@topic))}" do %>
          <button class="button is-info"><span class="icon"><i class="fas fa-edit"></i></span></button>
        <% end %>
        <%= link_to topic_path(@topic), method: :delete, data: { confirm: "Are you sure you want to delete topic #{@topic.name} ?" } do %>
          <button class="button is-danger"><span class="icon"><i class="fas fa-trash-alt"></i></span></button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-three-quarters">
    <table class="table is-striped is-fullwidth is-bordered">
      <thead>
        <th>Partition Id</th>
        <th>Leader</th>
        <th>In-sync Replicas</th>
        <th>Offset</th>
      </thead>

      <tbody>
        <% @topic.partitions.sort_by(&:partition_id).each do |p| %>
          <tr>
            <td><%= p.partition_id %></td>
            <td><%= p.leader %></td>
            <td><%= "#{p.isr.join(', ')}" %></td>
            <td><%= p.offset %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="column is-one-quarter">
    <table class="table is-striped is-bordered is-fullwidth">
      <thead>
        <th>Consumers</th>
      </thead>

      <tbody>
        <% @topic.groups.each do |group| %>
          <tr>
            <td><%= group.group_id %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
