<%= render partial: 'shared/title', locals: { title: @cluster.name, subtitle: @topic.name } %>

<div class="columns">
  <div class="column is-three-quarters">
    <nav class="level">
      <div class="level-item is-narrow has-text-centered">
        <div>
          <p class="heading">Replication Factor</p>
          <p class="title"><%= @topic.replication_factor %></p>
        </div>
      </div>
      <div class="level-item is-narrow has-text-centered">
        <div>
          <p class="heading">Partitions</p>
          <p class="title"><%= @topic.partitions.count %></p>
        </div>
      </div>
      <div class="level-item is-narrow has-text-centered">
        <div>
          <p class="heading">Consumer Groups</p>
          <p class="title"><%= @topic.groups.count %></p>
        </div>
      </div>
      <div class="level-item is-narrow has-text-centered">
        <div>
          <p class="heading">Brokers Spread</p>
          <p class="title"><%= "#{@topic.brokers_spread}%" %></p>
        </div>
      </div>
      <div class="level-item is-narrow has-text-centered">
        <div>
          <p class="heading">Offset Sum</p>
          <p class="title"><%= @topic.offset_sum %></p>
        </div>
      </div>
    </nav>
  </div>

  <div class="column is-one-quarter has-text-right">
    <div class="box is-shadowless">
      <div>
        <%= link_to "#{topic_path(@topic)}/edit?redirect_path=#{URI.encode(topic_path(@topic))}" do %>
          <span class="icon has-text-grey-light"><i class="fas fa-edit fa-2x"></i></span>
        <% end %>
        &nbsp;
        <%= link_to topic_path(@topic), method: :delete, data: { confirm: "Are you sure you want to delete topic #{@topic.name} ?" } do %>
          <span class="icon has-text-danger"><i class="fas fa-trash-alt fa-2x"></i></span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-three-quarters">
    <table class="table is-striped is-bordered is-fullwidth">
      <thead class="has-background-primary is-borderless">
        <th class="has-text-white is-borderless">Partitions</th>
        <th class="is-borderless"></th>
        <th class="is-borderless"></th>
        <th class="is-borderless"></th>
      </thead>

      <tbody>
        <tr>
          <th>Id</th>
          <th>Leader</th>
          <th>In-sync Replicas</th>
          <th>Offset</th>
        </tr>
        <% @topic.partitions.sort_by(&:partition_id).each do |p| %>
          <tr>
            <td><%= p.partition_id %></td>
            <td><%= p.leader %></td>
            <td><%= "#{p.isr.join(', ')}" %></td>
            <td><%= p.offset %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="column is-one-quarter">
    <table class="table is-striped is-bordered is-fullwidth config-table">
      <thead class="has-background-primary is-borderless">
        <th class="has-text-white is-borderless">Configs</th>
        <th class="is-borderless"></th>
      </thead>

      <tbody>
        <tr>
          <td>Max message bytes</td>
          <td><%= @topic.max_message_bytes %></td>
        </tr>
        <tr>
          <td>Log retention milliseconds</td>
          <td><%= @topic.retention_ms %></td>
        </tr>
        <tr>
          <td>Log retention bytes</td>
          <td><%= @topic.retention_bytes %></td>
        </tr>
      </tbody>
    </table>

    <table class="table is-striped is-bordered is-fullwidth">
      <thead class="has-background-primary">
        <th class="has-text-white">Consumers</th>
      </thead>

      <tbody>
        <% if @topic.groups.any? %>
          <% @topic.groups.each do |group| %>
            <tr>
              <td><%= link_to group.group_id, "#{consumer_groups_path(group)}?topic=#{URI.escape(@topic.name)}" %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td class="has-text-grey-light">None</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
