<!DOCTYPE html>
<html>
  <head>
    <title>Kafka Command</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <%= stylesheet_link_tag    'kafka_command/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'kafka_command/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar is-light" role="navigation">
      <div class="container">
        <div class="navbar-brand kafka-logo">
          <p class="navbar-item is-paddingless">
            <%= image_tag('kafka_command/kafka.png', alt: '') %>
          </p>
        </div>
        <div class="navbar-start">
          <div class="navbar-menu is-active">
            <% if @cluster %>
              <div class="navbar-item has-dropdown is-hoverable">
                <%= link_to 'Clusters', clusters_path, class: 'navbar-link has-text-weight-bold' %>
                <div class="navbar-dropdown is-boxed">
                  <% KafkaCommand::Cluster.all.each do |cluster| %>
                    <%= link_to trim_name(cluster.name), cluster_topics_path(cluster), class: 'navbar-item' %>
                  <% end %>
                </div>
              </div>

              <%= link_to 'Topics', cluster_topics_path(@cluster), class: 'navbar-item' %>
              <%= link_to 'Consumers', cluster_consumer_groups_path(@cluster), class: 'navbar-item' %>
              <%= link_to 'Brokers', cluster_brokers_path(@cluster), class: 'navbar-item' %>
            <% end %>
          </div>
        </div>
        <div class="navbar-end">
          <p class="subtitle navbar-item">Command</p>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
