<%= render partial: 'shared/title', locals: { title: @cluster.to_human, subtitle: 'Add a topic' } %>

<div class="column is-one-third">
  <%= form_tag cluster_topics_path, method: :post  do |f| %>
    <div class="field">
      <%= label_tag :name, 'Name', class: 'label' %>
      <div class="control">
        <input class="input" type="text" name="name" placeholder="my-topic">
      </div>
    </div>

    <div class="field">
      <%= label_tag :replication_factor, 'Replication Factor', class: 'label' %>
      <div class="control">
        <%= number_field_tag(:replication_factor, 1, in: 1..(@cluster.brokers.count), class: 'input') %>
      </div>
      <p class="help">
        The maximum value for replication factor is equal to the number of brokers in the cluster.
        The <%= @cluster.to_human %> cluster has <strong><%= @cluster.brokers.count %></strong> brokers.
      </p>
    </div>

    <%=
      render(
        partial: 'form_fields',
        locals: {
          retention_bytes_value: Kafka::TopicWrapper::DEFAULT_RETENTION_BYTES,
          retention_ms_value: Kafka::TopicWrapper::DEFAULT_RETENTION_MS,
          max_message_bytes_value: Kafka::TopicWrapper::DEFAULT_MAX_MESSAGE_BYTES,
          partitions_value: 5
        }
     )
    %>

  <% end %>
</div>
