<%= render partial: 'shared/title', locals: { title: @cluster.to_human, subtitle: @group.group_id } %>

<div class="columns">
  <div class="column is-three-quarters">
    <nav class="level">
      <div class="level-item is-narrow has-text-centered">
        <div>
          <p class="heading">State</p>
          <p class="title"><%= @group.state.downcase.capitalize %></p>
        </div>
      </div>
      <div class="level-item is-narrow has-text-centered">
        <div>
          <p class="heading">Members</p>
          <p class="title"><%= @group.members.count %></p>
        </div>
      </div>
      <div class="level-item is-narrow has-text-centered">
        <div>
          <p class="heading">Coordinator</p>
          <p class="title"><%= @group.coordinator.node_id %></p>
        </div>
      </div>
      <div class="level-item is-narrow has-text-centered">
        <div>
          <p class="heading">Total Lag</p>
          <% if @current_topic %>
            <p class="title"><%= @group.total_lag_for(@current_topic.name) %></p>
          <% else %>
            <p class="title">N/A</p>
          <% end %>
        </div>
      </div>
    </nav>
  </div>

  <% if @group.consumed_topics.any? %>
    <div class="column is-one-quarter has-text-right">
      <div class="box is-shadowless">
        <div id="select-topic-dropdown" class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
              <span><%= trim_name(@current_topic.name) %></span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <% @group.consumed_topics.each do |topic| %>
                <%= link_to trim_name(topic.name), "#{consumer_groups_path(@group)}?topic=#{topic.name}", class: 'dropdown-item' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="columns">
  <div class="column is-three-quarters">
    <table class="table is-striped is-bordered is-fullwidth">
      <thead class="has-background-primary">
        <th class="has-text-white is-borderless">Partitions</th>
        <th class="is-borderless"></th>
        <th class="is-borderless"></th>
        <th class="is-borderless"></th>
      </thead>

      <tbody>
        <tr>
          <th>Id</th>
          <th>Group Offset</th>
          <th>Topic Offset</th>
          <th>Lag</th>
        </tr>
        <% if @current_topic %>
          <% @group.partitions_for(@current_topic.name).sort_by(&:partition_id).each do |p| %>
            <tr>
              <td><%= p.partition_id %></td>
              <% if p.offset %>
                <td><%= p.offset %></td>
              <% else %>
                <td class="has-text-grey-light">N/A</td>
              <% end %>
              <td><%= @current_topic.offset_for(p) %></td>
              <% if p.lag %>
                <td><%= p.lag %></td>
              <% else %>
                <td class="has-text-grey-light">N/A</td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="column is-one-quarter">
    <table class="table is-striped is-bordered is-fullwidth">
      <thead class="has-background-primary">
        <th class="is-borderless has-text-white">Members</th>
      </thead>

      <tbody>
        <% @group.members.each do |member| %>
          <tr>
            <td><%= member.member_id %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
